<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="main/layout :: layout (content=~{::content})">

<div th:fragment="content">

    <!-- 관리자 -->
    <div sec:authorize="hasRole('ADMIN')">
        <div th:replace="main/fragment/admin :: admin"></div>
    </div>

    <!-- 점검자 -->
    <div sec:authorize="hasRole('INSPECTOR')">
        <div th:replace="main/fragment/inspector :: inspector"></div>
    </div>

</div>
</html>